<ion-side-menus>
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<ion-nav-buttons side="left">
				<button class="button button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent">
		</ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="bar-stable">
			<h1 class="title"><i class="ion-android-settings"></i> Settings</h1>
		</ion-header-bar>
		<ion-content>
			<div class="list list-inset">
			  <label class="item item-input">
			    <i class="icon ion-search placeholder-icon"></i>
			    <input type="text" placeholder="Your Location" ng-model="city">
			  </label>
			  	<button class="button button-positive button-block" ng-click="setLocation(city)">Set Location</button>
				<ion-toggle ng-model="gps" toggle-class="toggle-positive" ng-click="setGPS(gps)">
					<h2><i class="icon ion-ios-location"></i> GPS</h2>
				</ion-toggle>
			</div>
			<div class="list">
				<a class="item item-avatar" href="#">
			      <img src="img/developer.jpg">
			      <h4>Developed by</h4>
			      <h2>Rohit Sharma</h2>
			    </a>
			</div>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>