<ion-view id="weatherContainer">
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
		 </ion-refresher>
		 <div class="bar bar-header bar-royal">
		  <h1 class="title">Weather APP</h1>
		</div>
		<ion-spinner icon="lines" class="spinner-energized" ng-if="loading" ng-init="loading=false"></ion-spinner>
		 <div class="row" ng-if="notloading" ng-init="notloading=true" style="padding-top:100px;">
		 	<div class="col-60 col-offset-20 text-center">
				<i style="font-size:150px;" class="wi wi-{{icons[weatherData.weather[0].id].icon}} royal"></i>
				<h2 class="royal">{{weatherData.weather[0].main}}</h2>
		 		<h1 class="royal"><i class="ion-thermometer royal"></i> {{weatherData.main.temp | toCelsius}} &degC</h1>
		 		<h2 class="royal">{{weatherData.name}} </h2>
		 		<h4 class="royal"><i class="ion-android-arrow-up"></i>{{weatherData.main.temp_max| toCelsius}} &degC <i class="ion-android-arrow-down"></i>{{weatherData.main.temp_min| toCelsius}} &degC</h4>
		 	</div>
		 </div>
		
		<h2>
		<div class="bar bar-footer bar-royal">
		  <div class="title"><p>Powered by OpenWeatherAPI</p></div>
		</div>
	</ion-content>
</ion-view>